.history-card {
  width: 50%;
  margin: 15px auto;
  padding: 15px;
  background-color: #fafafa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

mat-card-content p {
  font-size: 0.9rem;
  color: #666;
  font-family: 'Arial', sans-serif;
  margin-top: 5px;
  direction: rtl;
}